@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-image {
  background-image: url("");
}

html,
body {
  background-color: #1a202c;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* #root {
  min-height: 100vh; 
  display: flex;
} */

.bg-gray-900 {
  background-color: #1a202c;
}
